<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blocktechwh.app.block">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".Common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.User.LoginActivity" />
        <activity android:name=".Activity.User.RegisterActivity" />
        <activity android:name=".Activity.User.SettingActivity" />
        <activity android:name=".Activity.User.ForgetActivity" />
        <activity android:name=".Activity.User.UpdateUserInfoActivity" />
        <activity android:name=".Activity.User.VersionsActivity" />
        <activity android:name=".Activity.User.UpdatePasswardActivity" />
        <activity android:name=".Activity.Contact.AddNewContactActivity" />
        <activity android:name=".Activity.Contact.AddNewContactActivity$AddContactByPhoneActivity" />
        <activity android:name=".Activity.RedTicket.RedTicketDetailActivity" />
        <activity android:name=".Activity.Actions.VotesListActivity" />
        <activity android:name=".Activity.Actions.StartActivity" />
        <activity android:name=".Activity.Actions.AddPlayerActivity" />
        <activity android:name=".Activity.Actions.PlayersSelectListActivity" />
        <activity android:name=".Activity.Contact.ContactDetailActivity" />
        <activity android:name=".Activity.Contact.ContactDetailForSendActivity" />
        <activity android:name=".Activity.RedTicket.SendRedTicket" />
        <activity android:name=".Activity.RedTicket.RedTicketForSentActivity" />
        <activity android:name=".Activity.Contact.ContactRequestActivity"></activity>
        <activity android:name=".Activity.RedTicket.GiftActivity" />
        <activity android:name=".Activity.Actions.SetRewardActivity" />
        <activity android:name=".Activity.Actions.FillInfoActivity" />
        <activity android:name=".Activity.Actions.VotedDetailActivity" />
        <activity android:name=".Activity.Actions.VoteDetailActivity" />
        <activity android:name=".Activity.Actions.VoteFillActivity" />
        <activity android:name=".Activity.Actions.VotersSelectListActivity" />
        <activity android:name=".Activity.Wallete.WalleteDetailActivity" />
        <activity android:name=".Activity.Wallete.ImpotActivity" />
        <activity android:name=".Activity.Wallete.ExportActivity" />


    </application>

</manifest>